@import "../fontawesome-free/css/all.css";


.backgroundIndex
{
    background: rgb(224,224,224);
    background: -moz-linear-gradient(248deg, rgba(224,224,224,1) 0%, rgba(75,179,227,1) 50%, rgba(75,179,227,1) 100%);
    background: -webkit-linear-gradient(248deg, rgba(224,224,224,1) 0%, rgba(75,179,227,1) 50%, rgba(75,179,227,1) 100%);
    background: linear-gradient(248deg, rgba(224,224,224,1) 0%, rgba(75,179,227,1) 50%, rgba(75,179,227,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0e0e0",endColorstr="#4bb3e3",GradientType=1);
}

.visibilidade
{
   overflow: hidden;
   height: 0px;
}

.visibilidade2
{
   overflow: hidden;
   height: auto;
}

.backgroundDenied
{
   background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.4B8r3B4p7yhRXuBWLqsQ546WR43cqQwrbXMDFnBi6vSJBeif8tPW85a7r7DM961Jvk4hdryZoByEp8GC8HzsqJpRN4FxGM92.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.4B8r3B4p7yhRXuBWLqsQ546WR43cqQwrbXMDFnBi6vSJBeif8tPW85a7r7DM961Jvk4hdryZoByEp8GC8HzsqJpRN4FxGM9 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.4B8r3B4p7yhRXuBWLqsQ546WR43cqQwrbXMDFnBi6vSJBeif8tPW85a7r7DM961Jvk4hdryZoByEp8GC8HzsqJpRN4FxGM9='evenodd'/%3E%3C/svg%3E");
}

